﻿@model Moviegram.Models.UserGram

@{
    ViewBag.Title = "Sign Up";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal" style="margin-top:20px">

        <div class="col-md-12 col-lg-12">
            <div class="col-md-4 col-lg-4"> </div>
            <div class="col-md-4 col-lg-4">
                <h2 class="font color-heading" style="text-align:center">#SignUp</h2>
                <hr />
                <div class="form-group">
                    <label class="control-label col-md-4 color-heading" style="font-size:16px"> #Username: </label>
                    <div class="col-md-6" align="right" style="width:65%">
                        <input class="form-control" type="text" name="username" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4 color-heading" style="font-size:16px"> #Password: </label>
                    <div class="col-md-6" align="right" style="width:65%">
                        <input class="form-control" type="password" name="password" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4 color-heading" style="font-size:16px"> #Name: </label>
                    <div class="col-md-6" align="right" style="width:65%">
                        <input class="form-control" type="text" name="fullname" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4 color-heading" style="font-size:16px"> #Bio: </label>
                    <div class="col-md-6" align="right" style="width:65%">
                        <input class="form-control" type="text" name="bio" />
                    </div>
                </div>
                <br />
                <div class="col-md-12 col-lg-12" align="right">
                    <input type="submit" value="#Signup" class="btn btn-primary"     />
                </div>

            </div>
            <div class="col-md-4 col-lg-4"> </div>
        </div>


    </div>

}
