﻿@model Moviegram.Models.NewsFeedModel
@using MongoDB.Bson;
@using MongoDB.Driver;
@using MongoDB.Driver.Builders;

@*<h1 style="text-align:center">News feed</h1>*@
<input id="CommentUrl" type="hidden" value="@Url.Action("CreateComment", "Profile")" />
<input id="IndexUrl" type="hidden" value="@Url.Action("Index", "Profile")" />
<table class="table table-hover" style="margin-top:50px;text-align:center">
    <thead >
        <tr>
            <th class="color-heading" style="text-align:center; font-size:20px">Followed Hashtags</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (Tuple<ObjectId, string> tag in Model.user.FollowedTags)
            {
                <tr>
                    <td>
                        @Html.ActionLink(linkText: tag.Item2, actionName: "OpenHashtag", controllerName: "Profile", routeValues: new { hashtagId = tag.Item1 }, htmlAttributes: new { style="font-size:18px" })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<hr />
<div class="col-lg-12 col-md-12" style="margin-top:50px">
    @{
        Model.followedPosts.Reverse();
        foreach (var post in Model.followedPosts)
        {
            <div class="media" style="background-color:#AA3939; padding:20px;">
                <div class="media-body">
                    <div>
                        <h3 class="font media-heading">@post.OwnerUsername</h3>
                        @{
                            <p>
                                @foreach (var hashTag in post.Hashtags)
                                {
                                    @Html.ActionLink(linkText: hashTag, actionName: "OpenHashtagByName", controllerName: "Profile", routeValues: new { hashtagName = hashTag }, htmlAttributes: null)
                                    @Html.Raw("&nbsp")
                                }
                            </p>

                        }
                        <p class="font-input" style="margin-left:50px">@post.Body</p>
                        <p>@post.Likes.Count Votes @Html.ActionLink(linkText: "Vote", actionName: "LikePost", controllerName: "Profile", routeValues: new { postId = post.PostId.ToString() }, htmlAttributes: null)</p>
                    </div>

                        @{

                            foreach (var comm in post.Comments)
                            {
                            <div class="media" style="margin-left:150px; background-color:#F08C8C; padding:10px">
                                <div class="media-body">
                                    Reply from:
                                    <h3 class="font media-heading" style="margin-left:50px">@comm.OwnerUsername</h3>
                                    <p class="font-input" style="margin-left:100px">@comm.Text</p>

                                </div>
                            </div>
                        }
                    }
                    <textarea id="@post.PostId" class="font-input form-control" rows="3" style="margin-top:20px; margin-left:150px; width:86%; max-width:100%"></textarea>
                    <br />
                    <button class="btn btn-primary" style="float:right" name="@post.OwnerId" onclick="comment('@post.OwnerId.ToString()', '@post.PostId.ToString()')">
                        Comment
                    </button>

                </div>
            </div>
            }

        }
</div>

@section scripts{

    <script>
        $(document).ready(function () {

            comment = function (x, idPost) {
                var url = $('#CommentUrl').val();
                var urlindex = $('#IndexUrl').val();

                var textarea = $('#' + idPost);
                var text = textarea.val();

                $.ajax({
                    method: "POST",
                    url: url,
                    data: { comment: text, ownerId: x, postId: idPost },
                    success: function (result) {
                        if (result == "ok") {
                            location.reload();
                        }
                    }
                });

            };

        });

    </script>
    }
